name: Staking Dashboard CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  check-license-lines:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Check License Lines
        uses: kt3k/license_checker@v1.0.6
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js 18.x
        uses: actions/setup-node@v3
        with:
          node-version: 18
      - run: yarn install
      - run: yarn build
      - run: yarn lint
      # - run: yarn test # No reason to check for tests now since they do not exist

  all:
    # This job ensures that all jobs above (now we have just build) are successful.
    needs: [check-license-lines, build]
    runs-on: ubuntu-latest
    steps:
      - run: echo Success
